
<div class="alert alert-succes" *ngIf="status == 'success'">
    Has enviado el mensaje
    <a [routerLink]="'/mensajes/enviados'">Miralo en tus mensajes enviados</a>
</div>
<div class="alert alert-danger" *ngIf="status=='error'">
    No se envio correctamente el mensaje
</div>

<form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
    <div class="row">
        <div class="col-12">
            <label>Para:</label>
            <!-- Listado de seguidores -->
            <select *ngIf="follows" name="receiver" #receiver="ngModel" 
                    [(ngModel)]="message.receiver" class="form-control" required>
                    <option *ngFor="let follow of follows" value="{{follow.user._id}}">
                        {{follow.user.name + ' ' + follow.user.lastname}}
                    </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            
            <textarea name="text" #text="ngModel" 
            class="form-control "
            [(ngModel)]="message.text" required>
            </textarea>
            <span *ngIf="!text.valid && text.touched">
                El mensaje es la obligatorio
            </span>
        </div>
    </div>
        
    <input type="submit" value="{{title}}" class="btn btn-success">
</form>