
.invalid-error{
    font-size: 80%;
    color:#dc3545;
  }
  
  .form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
  }
  form {
      /* Temp */
      padding: 1rem;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      /* End Temp */
    }
    form .form-row {
      margin-bottom: 1rem;
      position: relative;
    }
    form .form-row:last-child {
      margin-bottom: 0;
    }
    form .form-row input[type="password"] {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      transition: all 0.5s ease-in-out;
      outline: 0;
    }
    form .form-row input[type="password"] + label[data-placeholder] {
      pointer-events: none;
    }
    form .form-row input[type="password"] + label[data-placeholder]:after {
      content: attr(data-placeholder);
      display: block;
      position: absolute;
      top:35%;
      left: 0.5rem;
      transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      transition: all 0.5s ease-in-out;
      padding: 0 0.25rem;
      background-color: rgba(255, 255, 255, 0);
    }
    form .form-row input[type="password"]:focus, form .form-row input[type="password"]:valid {
      border: 1px solid green;
    }
    form .form-row input[type="password"]:focus + label[data-placeholder]:after, form .form-row input[type="password"]:valid + label[data-placeholder]:after {
      transform: translate(-5%, -150%) scale(0.9, 0.9);
              transform: translate(-5%, -150%) scale(0.9, 0.9);
      color: green;
      background-color: white;
    }
    
  /***/
  form .form-row input[type="text"] {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      transition: all 0.5s ease-in-out;
      outline: 0;
    }
    form .form-row input[type="text"] + label[data-placeholder] {
      pointer-events: none;
    }
    form .form-row input[type="text"] + label[data-placeholder]:after {
      content: attr(data-placeholder);
      display: block;
      position: absolute;
      top:35%;
      left: 0.5rem;
      transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      transition: all 0.5s ease-in-out;
      padding: 0 0.25rem;
      background-color: rgba(255, 255, 255, 0);
    }
    form .form-row input[type="text"]:focus, form .form-row input[type="text"]:valid {
      border: 1px solid green;
    }
    form .form-row input[type="text"]:focus + label[data-placeholder]:after, form .form-row input[type="text"]:valid + label[data-placeholder]:after {
      transform: translate(-5%, -150%) scale(0.9, 0.9);
              transform: translate(-5%, -150%) scale(0.9, 0.9);
      color: green;
      background-color: white;
    }
  
  