<div class="container">
	<div class="row row2">
		<div class="col-12 col-sm-1 col-md-2 col-lg-2">
				<div class="list-group" *ngIf="identity != 	null">
					<ul class="navbar-nav bar-position" >
						<li class="nav-item">
							<a class="nav-link color-menu" [routerLink]="['/timeline']" [routerLinkActive]="['active-link']">
								<span class="fa fa-home"></span>
								<span class="lbl-menu font-weight-bold"> Inicio</span>		 
							</a>
							<a class="nav-link color-menu" [routerLink]="['/gente']" [routerLinkActive]="['active-link']">
								<span class="fa fa-users"></span>					
								<span class="lbl-menu font-weight-bold"> Gente</span> 
							</a>
							<a class="nav-link color-menu" [routerLink]="['/mis-datos']" [routerLinkActive]="['active-link']">
								<!-- <img class= "avatar" src="{{url + 'get-image-user/' + identity.image}}"  *ngIf="identity.image">	class="list-group-item list-group-item-action"		 -->
								<span class="fa fa-user"></span>	
								<span class="lbl-menu font-weight-bold"> Perfil</span>	
							</a>
							<a class="nav-link color-menu" [routerLink]="['/mensajes']" [routerLinkActive]="['active-link']">
								<!-- <img class= "avatar" src="{{url + 'get-image-user/' + identity.image}}"  *ngIf="identity.image">	class="list-group-item list-group-item-action"		 -->
								<span class="far fa-envelope"></span>	
								<span class="lbl-menu font-weight-bold"> Mensajes</span>	
							</a>
						</li>
					</ul>
				</div>
		</div>
	
		<div class="col-12 col-sm-10 col-md-8 col-lg-8">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
	
