<div id="uno"> <img class="icon"  src="assets/silueta.png"> </div>    
<div class="alert alert-success" *ngIf="status==1">
        {{message}}
    </div>
    <div class="alert alert-danger" *ngIf="status==0 || status==2">
       {{message}}
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 block-espacio">
            
            
            



            <div class="text-center">
                <form name="form"  #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && onSubmit(user)" >
               
                        <input name="mail"  type="email" placeholder="Correo electrónico"
                        #email="ngModel" [(ngModel)]="user.email"  class="form-control" required/>
                        <span *ngIf="email.invalid && email.touched">
                            <div  class="invalid-feedback">El email no es válido</div>
                        </span>    
                        
                        <input name="password"  type="password" class="form-control" placeholder="contraseña "
                        #password="ngModel" [(ngModel)]="user.password"  required/>
                        <span *ngIf="password.invalid && password.touched">
                            <div class="invalid-feedback">La contraseña obligatoria</div>
                        </span> 
               
                    <input type="submit" value="Iniciar sesión" class="btn btn-outline-success" [disabled]="!loginForm.form.valid" />
                </form>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-8 offset-md-2 text-center block-espacio">
                <span>

                    <input type="submit" value="Regístrate" class="btn btn-outline-dark" [routerLink]="['/registro']"/>
                </span>    
            </div>
    </div>
</div>