
<!-- formularios de publicaciones -->
<div class="row">
    <div id="new-publication" class="col-12">
        <div class="alert alert-success" *ngIf="status == 'success'">
            Publicacion correctamente
        </div>
        <div class="alert alert-error" *ngIf="status == 'error'"> Error </div>
    </div>
</div>
<div class="border-publication">
    <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event); sendPublication($event)" class="col-12">
        <div class="row">
            <div class="col-12">
                <p>
                    <textarea  placeholder="Que estas pensando ,dímelo" name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required>            
                    </textarea>                 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-10 col-md-10">
                <!-- <input type="file" placeholder="Subir imagen"> -->
                <input type="file" id="file" (change)="fileChangeEvent($event)" />
                <label for="file"  class="btn-outline-primary">
                    <i class="fa fa-id-badge" aria-hidden="true"></i>
                </label>  
            </div>
            <div class="col-2 col-md-2">
                <input type="submit" value="Enviar" class="btn btn-primary btn-sm" [disabled]="!newPubForm.form.valid"/>
            </div>
        </div>
    </form>
</div>  
    
        