.image-user{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 10px;
}

.image-user img{
    width: 120px;
    text-align: center;
    margin:  0 auto;
}

.border-main{
    border: 2px solid steelblue;
    border-radius: 5px;
}



[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  [textarea]:hover{
    border: 1px solid #fff  !important;  } 
  

  .btn-outline-primary{color:teal;
    background-color:transparent;
    background-image:none;border-color:teal}
    .btn-outline-primary:hover{color:#222;background-color:#fff;border-color:teal}

    .form-control {
        border: 1px solid #fff  !important;
    }

    .form-control:hover {
        border: 1px solid #fff  !important;
    }

    .border-publication{
    padding-top: 1em;
    padding-bottom: 0.5em;
    border: 0.6px solid #f2f3f4;
    border-bottom: 6px solid #f2f3f4;
}
